.round-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 20px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px, inset rgba(0, 0, 0, 0.5) 0 0 10px;
}
.round-loader:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transform: scaleX(0) scaleY(1);
  -webkit-transform-origin: center right;
  -webkit-animation: giraquegira 0.8s infinite;
}
@-webkit-keyframes giraquegira {
  0% {
    -webkit-transform: scaleX(0) scaleY(1);
    -webkit-transform-origin: center right;
  }
  49% {
    -webkit-transform: scaleX(1) scaleY(1);
    -webkit-transform-origin: center right;
  }
  50% {
    -webkit-transform: scaleX(1) scaleY(1);
    -webkit-transform-origin: center left;
  }
  100% {
    -webkit-transform: scaleX(0) scaleY(1);
    -webkit-transform-origin: center left;
  }
}
html,
body {
  height: 100%;
}
body {
  background: #d35400;
  background: radial-gradient(ellipse at center, #ffa76d 0%, #d35400 80%);
}
