html, body {
  height: 100%;
  width: 100%
  margin: 0;
}

.cube {
  position: relative;
   top: -389px; 
  height: 300%;
  bottom: 135%;
  left: 3%;
}

        .rightFace{
                padding: 10px;
                width: 1000px;
                height: 1000px;
                margin-top: -67px;
        }

        .leftFace {
                padding: 10px;
                width: 1000px;
                height: 1000px;
                margin-top: -67px;
        }

.topFace div {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  // /* top: -158px; */
  // /* left: 100px; */
  width: 50%;
  height: 100%;
}

        .rightFace,
        .leftFace,
        .topFace {
                position: relative;
        }

        .leftFace {
                -webkit-transform: skewY(30deg);
                -moz-transform: skewY(30deg);
                background-color: #cc2127;
                right: 654px;
        }

        .rightFace {
                -webkit-transform: skewY(-30deg);
                -moz-transform: skewY(-30deg);
                background-color: #47779f;
                left: 650px;
        }

        .topFace div {
                -webkit-transform: skewY(-30deg) scaleY(1.16);
                -moz-transform: skewY(-30deg) scaleY(1.16);
                background-color: #33ccff;
                font-size: 0.862em;
        }

        .topFace {
                -webkit-transform: rotate(60deg);
                -moz-transform: rotate(60deg);
                top: -158px;
                left: 100px;
        }

